
body {
    margin: 0;
}
.container {position:absolute;}
.recipe {position:relative;}

/* //////////////////////////////////header ///////////////////////////////////////////////*/

.header {
margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://d33wubrfki0l68.cloudfront.net/c6e36147-97fc-4e40-81f6-56675d7703c6/web%20banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 150px;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/5530a55b-765a-48f9-8861-6111ad280e31/Logo%20neat.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 150px;
margin: 10px auto 0;}


.header h1{
  width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin: 0 0 10px 0;
	text-shadow:2px 2px #1a607f;

}


  /* ///////////////////////////////////////////// footer ////////////////////////////////////////// */

.footer {
    background: #1a607f;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}



.footer h3 {
    width: 180px;
    line-height: 30px;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #ffffff;
}

.flex-foot {
        display: flex;
    flex-direction: row;
}

.flex-foot-inner {
    width: 50%;
    padding:10px 20px;
}

.flex-foot:not(first-child){
  justify-content: center;
    align-items: center;
    display: flex;
}
.flex-foot-inner p, .flex-foot-inner h2{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
	color:#ffffff;
}


@media only screen and (max-width: 600px) {
    .flex-foot {
    flex-direction: column;
}

.flex-foot-inner {
    width: 100%;
        padding:10px;
}
}

/* /////////////////////////////////////// RECIPES ///////////////////////////////*/

.recipe {
	margin: 2.5%;
	max-width:1024px;
	}
	.recipe-header, .recipe-body {
    display: flex;
    align-items: top;
    justify-content: center;
		flex-wrap:wrap;
}
	.recipe-title {
	text-align:center;
	}
	.time{
		text-align: center;
    border: #000555 1px solid;
    text-align: center;
    border: #000555 1px solid;
    margin: 0 auto;
    max-width: 30ch;	
	}
	.recipe-header > div, .recipe-body > div {
		width:calc(50% - 5%);
		padding:0 2.5%;
	}
	img#mypic {
    width: 100%;
}
	.recipe li {
		padding: 5px 0px; 
		}

.ingredients h3, .method h3 {
	padding-left: 25px;
}
	
	@media only screen and (max-width:767px) {
	.recipe-header > div, .recipe-body > div {
		width:100%;
		padding:2.5% 0;
	}	
	}
	
	





    
