
body {
    margin: 0;
}
.container {
	position:absolute;
}
.recipe {
	position:relative;
}
    * {
	    font-family: avenir;
}

/* //////////////////////////////////header ///////////////////////////////////////////////*/

.header {
margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/34f73407-cce2-4ebe-9936-cd9492865998/web%20banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 150px;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/a7f116be-419b-45df-b333-2b448d2390e7/Logo%20neat.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 150px;
margin: 10px auto 0;}


.header h1{
  width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    margin: 0 0 10px 0;
	text-shadow:2px 2px #1a607f;

}


  /* ///////////////////////////////////////////// footer ////////////////////////////////////////// */

.footer {
    background: #1a607f;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
}



.footer h3 a {
    width: 180px;
    line-height: 30px;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	color: #ffffff;
	text-decoration:none;
}
.footer h3 a:hover {
    background-color: #ffffff;
    color: #1a607f;
}

.flex-foot {
        display: flex;
    flex-direction: row;
	max-width:1024px;
	margin:auto;
}

.flex-foot-inner {
    width: 50%;
    padding:10px 20px;
}

.flex-foot:not(first-child){
  justify-content: center;
    align-items: center;
    display: flex;
}
.flex-foot-inner p, .flex-foot-inner h2{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
	color:#ffffff;
}


@media only screen and (max-width: 600px) {
    .flex-foot {
    flex-direction: column;
}

.flex-foot-inner {
    width: 100%;
        padding:10px;
}
}

/* /////////////////////////////////////// RECIPES ///////////////////////////////*/

.recipe {
	margin: 2.5% auto;
	max-width:1024px;
	}
	.recipe-header, .recipe-body {
    display: flex;
    align-items: top;
    justify-content: center;
		flex-wrap:wrap;
}
	.recipe-title {
	text-align:center;
	}
	.time{
		text-align: center;
    border: #000555 1px solid;
    text-align: center;
    border: #000555 1px solid;
    margin: 0 auto;
    max-width: 30ch;	
	}
	.recipe-header > div, .recipe-body > div {
		width:calc(50% - 5%);
		padding:0 2.5%;
	}
	img#mypic {
    width: 100%;
}
	.recipe li {
		padding: 5px 0px; 
		}

.ingredients h3, .method h3 {
	padding-left: 25px;
}
	
	@media only screen and (max-width:767px) {
	.recipe-header > div, .recipe-body > div {
		width:100%;
		padding:2.5% 0;
	}	
	}
iframe{
    margin: 50px auto;
    display: block;
}

/* //////////////////////////////////print ///////////////////////////////////////////////*/
	
.printbtn {
	    margin: 10px auto;
	display: block;
margin: 10px auto;
    display: block;
    color: #1a607f;
        background: #ffffff;
    border: 1px solid #1a607f;
    box-shadow: 2px 2px 2px #1a607f;
    padding: 8px 12px;
    font-size: 16px;
}

.printbtn:hover {
        color: #ffffff;
        background: #1a607f;
	
}

@media print {
   .noprint, .footer, .header, img {
       display: none;
    }
    .print {
       display: block;
    }
	
	.recipe-header > div, .recipe-body > div {
		width:100%;
		padding:2.5% 0;
	}
	
	*:not(h3) {
    margin: 0;
}
		h3 {
    margin: .25em;
}
	
	
	h1 {
		font-size:24px;
	}
	p, li{
		font-size:14px;
		line-height:14px;
		padding:0;
	}
	.recipe-title:before {
		content:"Square One Kitchen: ";
		color:"red"
	}

	*:not(ul):not(ol) {
		padding: 0 !important;
	}
	
}




    
